<!DOCTYPE html>
<html>
<head>
    <title>Login - Travel Go</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-bg">
    
    <div class="auth-wrapper">
        <div class="auth-card">
            <h2>Welcome Back 👋</h2>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="flash">{{ messages[0] }}</div>
              {% endif %}
            {% endwith %}
            <form method="POST" action="/login">
                <input type="text" name="username" placeholder="Email" required>
                <div class="password-wrapper">
                    <input type="password" name="password" placeholder="Password" id="loginPassword" required>
                    <span class="toggle-password" onclick="togglePassword('loginPassword', this)">👁️</span>
                </div>
                <button type="submit" onclick="return showTick(this)">Login</button>
            </form>
            <p>Don't have an account? <a href="/signup">Sign up</a></p>
        </div>
    </div>

    <script>
    function togglePassword(id, icon) {
        const input = document.getElementById(id);
        if (input.type === "password") {
            input.type = "text";
            icon.textContent = "🙈";
        } else {
            input.type = "password";
            icon.textContent = "👁️";
        }
    }
    </script>
</body>
</html>
